In [1]:
import numpy as np
from PIL import Image
from helper.img_to_df import img_to_df
import glob, os
import pandas as pd

In [6]:
ls_df = []

for infile in glob.glob("*after_thumbnail.jpg"):
    file, ext = os.path.splitext(infile)
    ls_df.append(img_to_df(infile))

In [7]:
output = pd.concat(ls_df)

In [4]:
output

              R         G         B
0      0.266667  0.474510  0.639216
1      0.274510  0.482353  0.647059
2      0.282353  0.490196  0.654902
3      0.294118  0.501961  0.666667
4      0.298039  0.505882  0.670588
...         ...       ...       ...
12283  0.498039  0.458824  0.450980
12284  0.360784  0.321569  0.313725
12285  0.258824  0.219608  0.211765
12286  0.313725  0.278431  0.258824
12287  0.294118  0.258824  0.239216

[61440 rows x 3 columns]

In [8]:
output.to_csv('after.csv')

In [39]:
print(output)

              R         G         B
0      0.529412  0.678431  0.768627
1      0.537255  0.686275  0.776471
2      0.549020  0.698039  0.788235
3      0.556863  0.705882  0.796078
4      0.564706  0.713725  0.803922
...         ...       ...       ...
12283  0.729412  0.694118  0.635294
12284  0.486275  0.450980  0.392157
12285  0.372549  0.337255  0.270588
12286  0.458824  0.423529  0.356863
12287  0.392157  0.356863  0.290196

[61440 rows x 3 columns]